
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    background-color: #154794;
    padding: 20px 0;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
    max-width: 1280px;
    margin: 0 auto;
}

nav{
    width: 95%;
    margin-top: 20px;
    text-align: right;
}

.nav-link{
    color: #E6EFED;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover{
    color: #1DA3C4;
    background-color: #E6EFED;
}