
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #E6EFED;
}

header{
    background-color: #154794;
    height: 9.5rem;
}


.logo img{
    width: 6.4rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.center{
    display: flex;
}

nav{
    text-align: right;
    margin-left: 66%;
    margin-top: 4%;
}

.nav-link{
    color: #E6EFED;
    text-decoration: none;
    margin-right: 15px;
}

.nav-link:hover{
    color: #1DA3C4;
    background-color: #E6EFED;
}

main{
    background-color: #E6EFED;
}

main h2{
    color: #154794;
    text-align: center;
    font-size: 30px;
}

.foto1 img{
    margin-bottom: 550px;
    width: 100%;
    height: 500px;
    z-index: 0;
}

.chekin{
    border-radius: 50px;
    width: 320px;
    height:330px;
    background-color: #E6EFED;
    position: absolute;
    z-index: 1;
    top: 170px;
    left: 80px;
    opacity: 0.6;
}

.chekin h3,h6{
    text-align: center;
    color: #154794;
    margin-bottom: 10px;
}

.loc{
    color: #E6EFED;
    width: 300px;
    height: 30px;
    background-color: #154794;
    opacity: 0.6;
    padding-top: 5px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.check{
    display: flex;
    width: 300px;
    height: 60px;
    background-color: #154794;
    color: #E6EFED;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    opacity: 0.6;
    margin-bottom: 20px;
    border-radius: 30px;
}

.hospedes{
    width: 300px;
    height: 60px;
    background-color: #154794;
    color: #E6EFED;
    opacity: 0.6;
    padding-left: 20px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.hospedes input{
    max-width: 250px;
    width: 250px;
    min-width: 100px;
}

.button button{
    width: 100px;
    height: 50px;
    background-color: #154794;
    position: absolute;
    z-index: 2;
    border-radius: 20px;
    left: 100px;
    color: #E6EFED;
    font-size: 20px;
}

.container img{
    height: 30rem;
    width: 30rem;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom:  30rem;
}

.container ul{
    list-style: none;
}

.container h3{
    background-color: #154794;
    color: #E6EFED;
    text-align: center;
    font-size: 2rem;
}

.container p{
    text-align: center;
    color: #000;
    font-size: 1rem;
}

footer{
    background-color: #154794;
    position: relative;
    width: auto;
}

.logoF img{ 
    width: 80px;
}

.icones img{
    width:30px;
    margin-right:10px;
}

.contatos{
    background-color: #154794;
    color: #E6EFED;
    position: absolute;
    top: 10%;
    left: 85%;
}

.contatos h5:hover{
    background-color: #E6EFED;
    color: #1DA3C4;
}